<div class="row mb-3">
    <div class="col-2 col-lg-1">
        <img class="" style="width: 5rem;" [src]="'images/' + film.image" alt="Film image cap">
    </div>
    <div class="col-10 col-lg-11">
        <h4>{{film.titre}}</h4>
        <p>En salle le: {{seance.jour}}à {{seance.horaire.hour}}h{{seance.horaire.minutes}}</p>
        <p>Salle N°{{seance.salle}}</p>
        <button class="btn btn-outline-primary" [routerLink]="['/films', cinema.id]">Retour</button>
    </div>
</div>